@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap");
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0rem;
  padding: 0rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.3;
  color: #313131;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #313131;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-weight: 400;
  font-size: 2.1vw;
  margin-left: 0.5vw;
  width: 28vw;
}

@media (min-width: 800px) {
  h3 {
    font-size: 1.1vw;
    width: 15vw;
  }
}

a.in-text {
  color: white;
  text-decoration: none;
  font-weight: 500;
  opacity: 1;
}

.spacer {
  position: relative;
  display: block;
  width: 100vw;
  background-color: transparent;
  height: 10vw;
}

@media (max-width: 800px) {
  .spacer {
    height: 14vw;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  padding: 0.8rem;
  margin: 0rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 800px) {
  .header {
    padding: 1.25rem;
  }
}

.header .logo {
  font-size: 1.25rem;
  font-weight: 700;
  width: auto;
  cursor: default;
}

@media (min-width: 800px) {
  .header .logo {
    font-size: 1.1rem;
    width: 20vw;
  }
}

.header .menu-item {
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color 75ms ease-in-out;
  transition: color 75ms ease-in-out;
  padding-right: 2rem;
  display: none;
}

@media (min-width: 800px) {
  .header .menu-item {
    display: block;
  }
}

.header .menu-item a:hover {
  color: #868686;
}

.header .menu-item:nth-of-type(5) {
  padding-right: 2rem;
}

.hero-section {
  width: 100vw;
  height: 80vw;
  color: white;
  position: relative;
  overflow: hidden;
}

@media (min-width: 800px) {
  .hero-section {
    height: 45vw;
    position: relative;
    overflow: hidden;
  }
}

.hero-section img {
  top: 0px;
  width: 190vw;
  left: -15vw;
  margin-top: -5vw;
  image-rendering: crisp-edges;
}

@media (min-width: 800px) {
  .hero-section img {
    width: 100vw;
    position: absolute;
    left: 0vw;
  }
}

@media (max-width: 800px) {
  .hero-section img.hero-fg {
    position: absolute;
    top: 0px;
    z-index: 1;
  }
}

.hero-section img.hero-bg {
  position: relative;
  overflow: hidden;
  z-index: -1;
}

@media (min-width: 800px) {
  .hero-section img.hero-bg {
    position: absolute;
  }
}

.hero-section .hero-text {
  padding: 4.5vw;
  position: absolute;
  top: 22vw;
  z-index: 2;
}

@media (min-width: 800px) {
  .hero-section .hero-text {
    top: 15vw;
  }
}

.hero-section .hero-text h1 {
  font-size: 15vw;
  margin-top: -2vw;
  font-weight: 600;
}

@media (min-width: 800px) {
  .hero-section .hero-text h1 {
    font-size: 10vw;
    margin-top: -1vw;
  }
}

.hero-section .hero-text h3 {
  font-weight: 300;
  font-size: 2.7vw;
  margin-left: 0.5vw;
  width: 33vw;
}

@media (min-width: 800px) {
  .hero-section .hero-text h3 {
    font-size: 1.1vw;
    width: 15vw;
  }
}

.hero-section .hero-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2vw;
  top: 60vw;
  left: 3vw;
  z-index: 3;
}

@media (min-width: 800px) {
  .hero-section .hero-button {
    top: 35vw;
  }
}

button {
  padding: 2vw;
  border: none;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  width: 28.8vw;
  margin-right: 4vw;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #313131;
}

@media (min-width: 800px) {
  button {
    width: 7vw;
    font-size: 0.75rem;
    padding: 0.4vw;
    margin-right: 2vw;
  }
}

button.hollow {
  background-color: rgba(255, 255, 255, 0);
  border: 0.1rem solid white;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  color: white;
}

button.hollow:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

button.solid {
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

button.solid:hover {
  background-color: #dbdbdb;
  cursor: pointer;
}

button.soliddark {
  background-color: #313131;
  color: white;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

button.soliddark:hover {
  background-color: #1c1c1c;
  cursor: pointer;
}

.feature-section {
  width: 100vw;
  background-color: white;
  color: #313131;
  z-index: 3;
  overflow: hidden;
  position: relative;
  height: inherit;
}

@media (min-width: 800px) {
  .feature-section {
    position: relative;
    margin-bottom: 16vw;
  }
}

.feature-section #features {
  width: 0px;
  height: 0px;
  position: absolute;
  top: -15vw;
  left: 0;
}

.feature-section h1 {
  position: relative;
  font-size: 7vw;
  left: 60vw;
  width: 20vw;
  margin-top: 8vw;
  opacity: 0.8;
}

@media (min-width: 800px) {
  .feature-section h1 {
    font-size: 3.5vw;
    left: 80vw;
    margin-top: 2.5vw;
  }
}

.feature-section .explore {
  font-weight: 700;
  position: relative;
  font-size: 3vw;
  left: 7.1vw;
  top: -4vw;
}

@media (min-width: 800px) {
  .feature-section .explore {
    left: 5.5vw;
    top: -4vw;
    font-size: 1.1vw;
  }
}

.feature-section .feature-img {
  position: relative;
  -webkit-user-drag: none;
  top: -2rem;
  width: 100vw;
  padding: 7.5vw;
  padding-top: -5vw;
}

@media (min-width: 800px) {
  .feature-section .feature-img {
    width: 63vw;
    top: 2.5vw;
    left: -1.5vw;
    padding: 7.5vw;
    position: absolute;
  }
}

.feature-section .feature {
  position: relative;
  display: block;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  left: 7vw;
  top: 0rem;
  padding-bottom: 2vw;
}

@media (min-width: 800px) {
  .feature-section .feature {
    left: 60vw;
    top: -2.5vw;
    padding-bottom: 0vw;
    position: relative;
  }
}

.feature-section .feature h2 {
  font-size: 1.25rem;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.feature-section .feature h3 {
  margin: 0;
  width: 85vw;
  font-size: 3vw;
}

@media (min-width: 800px) {
  .feature-section .feature h3 {
    width: 37vw;
    font-size: 1.1vw;
  }
}

.feature-section .reverb1, .feature-section .reverb2, .feature-section .reverb3, .feature-section .reverb4, .feature-section .reverb5, .feature-section .doppler1, .feature-section .doppler2, .feature-section .submerge1, .feature-section .submerge2, .feature-section .submerge3, .feature-section .submerge4 {
  position: absolute;
  height: 3.1vw;
  width: 3.1vw;
  border-radius: 100%;
  border: 2px rgba(255, 255, 255, 0.2) solid;
  background-color: transparent;
  z-index: 4;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 120ms ease-in-out;
  transition: all 120ms ease-in-out;
}

@media (max-width: 800px) {
  .feature-section .reverb1, .feature-section .reverb2, .feature-section .reverb3, .feature-section .reverb4, .feature-section .reverb5, .feature-section .doppler1, .feature-section .doppler2, .feature-section .submerge1, .feature-section .submerge2, .feature-section .submerge3, .feature-section .submerge4 {
    height: 5.5vw;
    width: 5.5vw;
  }
}

.feature-section .reverb1 {
  top: 17.5vw;
  left: 25.4vw;
}

@media (max-width: 800px) {
  .feature-section .reverb1 {
    top: 42.5vw;
    left: 41.8vw;
  }
}

.feature-section .reverb2 {
  top: 17.5vw;
  left: 31.55vw;
}

@media (max-width: 800px) {
  .feature-section .reverb2 {
    top: 42.5vw;
    left: 52.6vw;
  }
}

.feature-section .reverb3 {
  top: 22.85vw;
  left: 22.3vw;
}

@media (max-width: 800px) {
  .feature-section .reverb3 {
    top: 52vw;
    left: 36.3vw;
  }
}

.feature-section .reverb4 {
  top: 21.95vw;
  left: 27.6vw;
  height: 4.8vw;
  width: 4.8vw;
}

@media (max-width: 800px) {
  .feature-section .reverb4 {
    top: 50.6vw;
    left: 45.7vw;
    height: 8.5vw;
    width: 8.5vw;
  }
}

.feature-section .reverb5 {
  top: 22.85vw;
  left: 34.65vw;
}

@media (max-width: 800px) {
  .feature-section .reverb5 {
    top: 52vw;
    left: 58.2vw;
  }
}

.feature-section .doppler1 {
  top: 28.15vw;
  left: 25.4vw;
}

@media (max-width: 800px) {
  .feature-section .doppler1 {
    top: 61.5vw;
    left: 41.8vw;
  }
}

.feature-section .doppler2 {
  top: 28.15vw;
  left: 31.55vw;
}

@media (max-width: 800px) {
  .feature-section .doppler2 {
    top: 61.5vw;
    left: 52.6vw;
  }
}

.feature-section .submerge1 {
  top: 22.85vw;
  left: 11.75vw;
}

@media (max-width: 800px) {
  .feature-section .submerge1 {
    top: 52vw;
    left: 17.6vw;
  }
}

.feature-section .submerge2 {
  top: 22.85vw;
  left: 17.05vw;
}

@media (max-width: 800px) {
  .feature-section .submerge2 {
    top: 52vw;
    left: 27.1vw;
  }
}

.feature-section .submerge3 {
  top: 22.85vw;
  left: 39.95vw;
}

@media (max-width: 800px) {
  .feature-section .submerge3 {
    top: 52vw;
    left: 67.5vw;
  }
}

.feature-section .submerge4 {
  top: 22.85vw;
  left: 45.25vw;
}

@media (max-width: 800px) {
  .feature-section .submerge4 {
    top: 52vw;
    left: 76.9vw;
  }
}

.feature-section .feature-reverb:hover ~ .reverb1,
.feature-section .feature-reverb:hover ~ .reverb2,
.feature-section .feature-reverb:hover ~ .reverb3,
.feature-section .feature-reverb:hover ~ .reverb4,
.feature-section .feature-reverb:hover ~ .reverb5 {
  border: 2px rgba(255, 255, 255, 0.95) solid;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.feature-section .feature-doppler:hover ~ .doppler1, .feature-section .feature-doppler:hover ~ .doppler2 {
  border: 2px rgba(255, 255, 255, 0.95) solid;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.feature-section .feature-submerge:hover ~ .submerge1, .feature-section .feature-submerge:hover ~ .submerge2,
.feature-section .feature-submerge:hover ~ .submerge3, .feature-section .feature-submerge:hover ~ .submerge4 {
  border: 2px rgba(255, 255, 255, 0.95) solid;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.feature-section .reverb-area {
  position: absolute;
  width: 16vw;
  height: 10vw;
  background-color: transparent;
  top: 17.2vw;
  left: 22vw;
  z-index: 5;
}

@media (max-width: 800px) {
  .feature-section .reverb-area {
    width: 28vw;
    height: 17vw;
    top: 42.2vw;
    left: 36vw;
  }
}

.feature-section .reverb-area:hover ~ .reverb1,
.feature-section .reverb-area:hover ~ .reverb2,
.feature-section .reverb-area:hover ~ .reverb3,
.feature-section .reverb-area:hover ~ .reverb4,
.feature-section .reverb-area:hover ~ .reverb5 {
  border: 2px rgba(255, 255, 255, 0.95) solid;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.feature-section .reverb-area:hover ~ .feature-reverb {
  opacity: 0.8;
  -webkit-transform: translateX(-0.5vw);
          transform: translateX(-0.5vw);
}

.feature-section .reverb-area:hover ~ .info-reverb {
  opacity: 0.7;
}

.feature-section .doppler-area {
  position: absolute;
  width: 10vw;
  height: 3.5vw;
  background-color: transparent;
  top: 27.9vw;
  left: 25vw;
  z-index: 5;
}

@media (max-width: 800px) {
  .feature-section .doppler-area {
    width: 18vw;
    height: 8vw;
    top: 60.5vw;
    left: 41vw;
  }
}

.feature-section .doppler-area:hover ~ .doppler1,
.feature-section .doppler-area:hover ~ .doppler2 {
  border: 2px rgba(255, 255, 255, 0.95) solid;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.feature-section .doppler-area:hover ~ .feature-doppler {
  opacity: 0.8;
  -webkit-transform: translateX(-0.5vw);
          transform: translateX(-0.5vw);
}

.feature-section .doppler-area:hover ~ .info-doppler {
  opacity: 0.7;
}

.feature-section .submerge-area1 {
  position: absolute;
  width: 8.5vw;
  height: 3.5vw;
  background-color: transparent;
  top: 22.75vw;
  left: 11.75vw;
  z-index: 5;
}

@media (max-width: 800px) {
  .feature-section .submerge-area1 {
    width: 18vw;
    height: 8vw;
    top: 50.5vw;
    left: 16vw;
  }
}

.feature-section .submerge-area1:hover ~ .submerge1,
.feature-section .submerge-area1:hover ~ .submerge2,
.feature-section .submerge-area1:hover ~ .submerge3,
.feature-section .submerge-area1:hover ~ .submerge4 {
  border: 2px rgba(255, 255, 255, 0.95) solid;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.feature-section .submerge-area1:hover ~ .feature-submerge {
  opacity: 0.8;
  -webkit-transform: translateX(-0.5vw);
          transform: translateX(-0.5vw);
}

.feature-section .submerge-area1:hover ~ .info-submerge {
  opacity: 0.7;
}

.feature-section .submerge-area2 {
  position: absolute;
  width: 8.5vw;
  height: 3.5vw;
  background-color: transparent;
  top: 22.75vw;
  left: 39.9vw;
  z-index: 5;
}

@media (max-width: 800px) {
  .feature-section .submerge-area2 {
    width: 18vw;
    height: 8vw;
    top: 50.5vw;
    left: 66vw;
  }
}

.feature-section .submerge-area2:hover ~ .submerge1,
.feature-section .submerge-area2:hover ~ .submerge2,
.feature-section .submerge-area2:hover ~ .submerge3,
.feature-section .submerge-area2:hover ~ .submerge4 {
  border: 2px rgba(255, 255, 255, 0.95) solid;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.feature-section .submerge-area2:hover ~ .feature-submerge {
  opacity: 0.8;
  -webkit-transform: translateX(-0.5vw);
          transform: translateX(-0.5vw);
}

.feature-section .submerge-area2:hover ~ .info-submerge {
  opacity: 0.7;
}

.feature-section .feature-reverb:hover,
.feature-section .feature-doppler:hover,
.feature-section .feature-submerge:hover {
  opacity: 0.8;
  -webkit-transform: translateX(-0.5vw);
          transform: translateX(-0.5vw);
}

.feature-section .info-reverb, .feature-section .info-doppler, .feature-section .info-submerge {
  position: absolute;
  top: 40vw;
  left: 6vw;
  width: 45vw;
  opacity: 0.0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-size: 1.1vw;
}

@media (max-width: 800px) {
  .feature-section .info-reverb, .feature-section .info-doppler, .feature-section .info-submerge {
    position: absolute;
    top: 82vw;
    left: 7vw;
    width: 85vw;
    font-size: 3vw;
  }
}

.feature-section .feature-reverb:hover ~ .info-reverb,
.feature-section .feature-doppler:hover ~ .info-doppler,
.feature-section .feature-submerge:hover ~ .info-submerge {
  opacity: 0.7;
}

.demo-section {
  display: block;
  width: 100vw;
  background-color: #1c1c1c;
  color: white;
  z-index: 3;
  overflow: hidden;
  position: relative;
}

.demo-section #listen {
  width: 0px;
  height: 0px;
  position: absolute;
  top: -32vw;
  left: 0;
}

@media (min-width: 800px) {
  .demo-section {
    position: relative;
    margin-bottom: 16vw;
  }
}

.demo-section h1 {
  position: relative;
  padding-top: 4vw;
  font-size: 7vw;
  left: 7vw;
}

@media (min-width: 800px) {
  .demo-section h1 {
    font-size: 3.5vw;
    left: 3vw;
    padding-top: 1vw;
  }
}

.demo-section .subtitle {
  position: relative;
  margin-left: 7.2vw;
  width: 80vw;
  font-size: 3vw;
  font-weight: 300;
}

@media (min-width: 800px) {
  .demo-section .subtitle {
    position: absolute;
    width: 25vw;
    top: 9vw;
    font-size: 1.1vw;
    margin-left: 3vw;
  }
}

.demo-section .trial {
  position: relative;
  margin-top: 3.5vw;
  left: 7.2vw;
  width: 85vw;
  padding: 4vw;
}

@media (min-width: 800px) {
  .demo-section .trial {
    position: absolute;
    left: 15vw;
    top: 23vw;
    font-size: 0.75rem;
    width: 12.5vw;
    padding: 0.8vw;
    margin-right: 2vw;
    margin-top: 0vw;
  }
}

.demo-section .tile {
  float: left;
  width: 31vw;
}

.demo-section .tile-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  left: 36vw;
  top: -5.3vw;
  padding: 0vw;
  margin: 0;
}

.demo-section .tile-container:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .demo-section .tile {
    width: 100%;
  }
  .demo-section .tile-container {
    position: relative;
    left: 7.2vw;
    top: 3vw;
  }
}

.demo-section .demo {
  position: relative;
  margin: 0;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  padding-bottom: 10vw;
}

.demo-section .demo audio::-webkit-media-controls-enclosure {
  border-radius: 0px;
}

.demo-section .demo audio {
  width: 85vw;
}

@media (min-width: 800px) {
  .demo-section .demo audio {
    width: 23vw;
  }
}

.demo-section .demo audio::-webkit-media-controls-current-time-display, .demo-section .demo audio::-webkit-media-controls-time-remaining-display {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

@media (min-width: 800px) {
  .demo-section .demo {
    padding-bottom: 6.5vw;
  }
}

.demo-section .demo h2 {
  position: relative;
  width: 20vw;
  font-size: 1.25rem;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.demo-section .demo .desc {
  margin: 0;
  margin-top: 1.5vw;
  width: 80vw;
  font-size: 3vw;
  font-weight: 300;
  position: absolute;
}

@media (min-width: 800px) {
  .demo-section .demo .desc {
    width: 24vw;
    font-size: 1.1vw;
    position: absolute;
  }
}

.demo-section .demo-col {
  position: relative;
  margin: 0;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  padding-bottom: 10vw;
}

.demo-section .demo-col audio::-webkit-media-controls-enclosure {
  border-radius: 0px;
}

.demo-section .demo-col audio {
  width: 85vw;
}

@media (min-width: 800px) {
  .demo-section .demo-col audio {
    width: 23vw;
  }
}

.demo-section .demo-col audio::-webkit-media-controls-current-time-display, .demo-section .demo-col audio::-webkit-media-controls-time-remaining-display {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

@media (min-width: 800px) {
  .demo-section .demo-col {
    position: relative;
    padding-bottom: 6.5vw;
  }
}

.demo-section .demo-col h2 {
  position: relative;
  width: 20vw;
  font-size: 1.25rem;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.demo-section .demo-col .desc {
  margin: 0;
  margin-top: 1vw;
  width: 80vw;
  font-size: 3vw;
  font-weight: 300;
  position: absolute;
}

@media (min-width: 800px) {
  .demo-section .demo-col .desc {
    width: 24vw;
    font-size: 1.1vw;
    position: absolute;
  }
}

.buy-section {
  width: 100vw;
  background-color: white;
  color: #313131;
  z-index: 3;
  position: relative;
}

@media (min-width: 800px) {
  .buy-section {
    position: relative;
    padding-bottom: 5vw;
    margin-bottom: 16vw;
  }
}

.buy-section #buy {
  position: absolute;
  width: 10px;
  height: 10px;
  top: -40vw;
}

.buy-section h1 {
  position: relative;
  font-size: 7vw;
  left: 79vw;
}

@media (min-width: 800px) {
  .buy-section h1 {
    font-size: 3.5vw;
    left: 89vw;
    padding-top: 3.5vw;
  }
}

.buy-section h2 {
  font-size: 1.25rem;
  position: relative;
}

.buy-section h3 {
  font-size: 3vw;
  position: relative;
  width: 85vw;
  margin: 0;
}

@media (min-width: 800px) {
  .buy-section h3 {
    font-size: 1.1vw;
    position: relative;
    width: 20vw;
    margin: 0;
  }
}

.buy-section .buy-img {
  position: relative;
  top: 15vw;
  top: -4vw;
  width: 100vw;
  padding: 7.5vw;
}

@media (min-width: 800px) {
  .buy-section .buy-img {
    position: absolute;
    width: 63vw;
    top: 2.5vw;
    left: 50vw;
  }
}

.buy-section .tile {
  float: left;
  width: 26.5vw;
}

.buy-section .tile-container {
  position: relative;
  left: 3vw;
  top: -6vw;
  padding: 0vw;
  margin: 0;
}

.buy-section .tile-container:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .buy-section .tile {
    position: relative;
    width: 85vw;
    padding-bottom: 4vw;
  }
  .buy-section .tile-container {
    position: relative;
    left: 7.2vw;
    top: 5vw;
  }
}

.buy-section .subtitle1 {
  position: relative;
}

.buy-section .subtitle2 {
  position: relative;
}

.buy-section .buy-button {
  position: relative;
  width: 50vw;
  left: 7.2vw;
  top: -4vw;
  padding: 4vw;
  font-size: 0.9rem;
  z-index: 5;
}

@media (min-width: 800px) {
  .buy-section .buy-button {
    position: relative;
    width: 11vw;
    padding: 1vw;
    left: 3.1vw;
    top: 25vw;
    font-size: 0.75rem;
  }
}

.buy-section .paypal {
  position: relative;
  opacity: 0.8;
  width: 25vw;
  left: 10vw;
  top: -2vw;
}

@media (min-width: 800px) {
  .buy-section .paypal {
    position: relative;
    opacity: 0.8;
    width: 8vw;
    left: 4rem;
    top: 26vw;
  }
}

.buy-section h4 {
  position: relative;
  font-size: 2.7vw;
  font-weight: 400;
  left: 7.2vw;
  top: 8vw;
  width: 85vw;
  z-index: 10;
}

@media (min-width: 800px) {
  .buy-section h4 {
    position: relative;
    font-size: 1vw;
    font-weight: 400;
    left: 3vw;
    top: 10vw;
  }
}

.faq-section {
  display: block;
  width: 100vw;
  background-color: #1c1c1c;
  color: white;
  z-index: 10;
  position: relative;
}

.faq-section #faq {
  width: 0px;
  height: 0px;
  position: absolute;
  top: -57vw;
  left: 0;
}

@media (min-width: 800px) {
  .faq-section {
    position: relative;
    margin-top: 0;
    margin-bottom: 16vw;
  }
}

@media (min-width: 800px) {
  .faq-section .spacer {
    position: relative;
    height: 2vw;
  }
}

.faq-section h1 {
  position: relative;
  padding-top: 8vw;
  font-size: 7vw;
  left: 7vw;
}

@media (min-width: 800px) {
  .faq-section h1 {
    font-size: 3.5vw;
    left: 3vw;
    padding-top: 3.5vw;
  }
}

.faq-section h2 {
  font-size: 1.25rem;
  position: relative;
  margin-top: 10vw;
  margin-bottom: 0vw;
}

@media (min-width: 800px) {
  .faq-section h2 {
    font-size: 1.7rem;
    position: relative;
    margin-top: 4vw;
    margin-bottom: 0vw;
  }
}

.faq-section h2.question {
  font-size: 1rem;
  font-weight: 400;
  position: relative;
  margin-top: 0vw;
  margin-bottom: 0vw;
  cursor: pointer;
  z-index: 5;
}

.faq-section h3 {
  font-size: 3vw;
  position: relative;
  width: 78vw;
  margin: 0;
}

@media (min-width: 800px) {
  .faq-section h3 {
    font-size: 1.1vw;
    position: relative;
    width: 27vw;
    margin: 0;
    font-weight: 300;
  }
}

.faq-section .pair h3 {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  margin-top: -0.8vw;
  display: block;
  opacity: 0;
  max-height: 0;
}

.faq-section .pair h3.open {
  display: block;
  opacity: 1;
  color: lightgray;
  max-height: 50vw;
  margin-top: 1vw;
}

.faq-section .pair h3.open a.in-text:hover {
  opacity: 0.8;
  color: white;
}

.faq-section .pair {
  padding-bottom: 0vw;
}

.faq-section .pair .arrow {
  width: 2vw;
  position: relative;
  left: 28.5vw;
  top: 2.3vw;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

@media (max-width: 800px) {
  .faq-section .pair .arrow {
    left: 80vw;
    top: 6vw;
    width: 5vw;
  }
}

.faq-section .pair .arrow.open {
  width: 2vw;
  position: relative;
  left: 28.5vw;
  top: 2.3vw;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  cursor: pointer;
}

@media (max-width: 800px) {
  .faq-section .pair .arrow.open {
    left: 80vw;
    top: 6vw;
    width: 5vw;
  }
}

.faq-section .subtitle {
  position: relative;
  margin-left: 7.2vw;
  width: 80vw;
  font-size: 3vw;
  font-weight: 300;
}

@media (min-width: 800px) {
  .faq-section .subtitle {
    position: absolute;
    width: 25vw;
    top: 10vw;
    font-size: 1.1vw;
    margin-left: 3vw;
  }
}

.faq-section .tile {
  float: left;
  width: 26vw;
  margin-right: 10vw;
}

@media (max-width: 800px) {
  .faq-section .tile:nth-of-type(2) {
    margin-top: -4vw;
  }
}

.faq-section .tile-container {
  position: relative;
  left: 27vw;
  top: -10.2vw;
  padding: 0vw;
  margin: 0;
}

.faq-section .tile-container:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .faq-section .tile {
    position: relative;
    width: 78vw;
    padding-bottom: 4vw;
  }
  .faq-section .tile-container {
    position: relative;
    left: 7.2vw;
    top: 0vw;
  }
}

.about-section {
  width: 100vw;
  background-color: white;
  color: #313131;
  z-index: 11;
  position: relative;
}

@media (min-width: 800px) {
  .about-section {
    position: relative;
  }
}

.about-section #buy {
  position: absolute;
  width: 10px;
  height: 10px;
  top: -10vw;
}

.about-section h1 {
  position: relative;
  font-size: 7vw;
  left: 72vw;
}

@media (min-width: 800px) {
  .about-section h1 {
    font-size: 3.5vw;
    left: 84.5vw;
    padding-top: 3.5vw;
  }
}

.about-section h2 {
  font-size: 1.25rem;
  position: relative;
  margin-top: 0;
}

@media (min-width: 800px) {
  .about-section h2 {
    font-size: 1.75rem;
    position: relative;
    margin-top: 0;
  }
}

.about-section h2.subtitle {
  font-size: 3vw;
  position: relative;
  margin-top: 5vw;
  opacity: 0.7;
  text-transform: uppercase;
}

@media (min-width: 800px) {
  .about-section h2.subtitle {
    font-size: 1.1vw;
    margin-top: 0;
    text-transform: uppercase;
  }
}

.about-section h3 {
  font-size: 3vw;
  position: relative;
  width: 85vw;
  margin: 0;
}

@media (min-width: 800px) {
  .about-section h3 {
    font-size: 1.1vw;
    position: relative;
    width: 55vw;
    margin: 0;
  }
}

.about-section .dev-img {
  position: relative;
  top: 15vw;
  -webkit-user-drag: none;
  top: 0vw;
  width: 50vw;
}

@media (min-width: 800px) {
  .about-section .dev-img {
    position: relative;
    width: 15vw;
    top: 0vw;
    left: 3.5vw;
  }
}

.about-section .tile {
  float: left;
  width: 21vw;
  margin-right: 1vw;
}

.about-section .tile:nth-of-type(2) {
  width: 56vw;
}

@media (max-width: 800px) {
  .about-section .tile:nth-of-type(2) {
    margin-top: -4vw;
  }
}

.about-section .tile-container {
  position: relative;
  left: 0vw;
  top: -3vw;
  width: 80vw;
  padding: 0vw;
  margin: 0;
}

.about-section .tile-container:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .about-section .tile {
    position: relative;
    width: 78vw;
    padding-bottom: 4vw;
  }
  .about-section .tile-container {
    position: relative;
    left: 7.2vw;
    top: 0vw;
  }
}

.about-section .socials {
  position: relative;
  margin-left: 3.3vw;
  margin-top: 1vw;
}

@media (max-width: 800px) {
  .about-section .socials {
    margin-top: 3vw;
    margin-left: 0vw;
  }
}

.about-section .socials .social {
  width: 1.6vw;
  margin-right: 0.8vw;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

@media (max-width: 800px) {
  .about-section .socials .social {
    width: 6vw;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
}

.about-section .socials .social:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.8;
  cursor: pointer;
}

.about-section #about {
  position: relative;
  width: 20px;
  height: 20px;
  top: -70vw;
  z-index: 12;
}

.final-section {
  display: block;
  width: 100vw;
  background-color: #1c1c1c;
  color: white;
  z-index: 10;
  padding: 7vw;
  position: relative;
}

@media (min-width: 800px) {
  .final-section {
    position: relative;
    margin-top: 0;
    padding: 3vw;
  }
}

.final-section h2 {
  font-size: 1.5rem;
  position: relative;
  margin-bottom: 0vw;
  margin-top: 0vw;
  opacity: 0.8;
}

@media (min-width: 800px) {
  .final-section h2 {
    font-size: 1.7rem;
    position: relative;
    margin-bottom: 0vw;
    margin-top: 0vw;
  }
}

.final-section h3 {
  font-size: 3vw;
  position: relative;
  width: 78vw;
  margin: 0;
  opacity: 0.6;
  font-weight: 300;
}

@media (min-width: 800px) {
  .final-section h3 {
    font-size: 0.9rem;
    position: relative;
    width: 27vw;
    margin: 0;
    font-weight: 300;
    margin-top: 0.2vw;
  }
}

.final-section button {
  margin-top: 3vw;
  margin-left: 0vw;
  margin-right: 0;
  width: 40vw;
  padding: 2.5vw;
  opacity: 0.8;
  margin-right: 5vw;
}

@media (min-width: 800px) {
  .final-section button {
    width: 11vw;
    padding: 0.7vw;
    margin-top: 1vw;
    margin-right: 1.5vw;
  }
}

.final-section button:nth-of-type(2) {
  margin: 0;
}

.final-section .tile {
  float: left;
  width: 40vw;
  margin-right: 10vw;
}

.final-section .tile:nth-of-type(2) {
  margin-left: 2vw;
  margin-right: 0;
  padding-left: 16vw;
}

.final-section .tile-container {
  position: relative;
  left: 0vw;
  width: 100vw;
  padding: 0vw;
  margin: 0;
}

.final-section .tile-container:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .final-section .tile {
    position: relative;
    width: 90vw;
    padding-bottom: 4vw;
  }
  .final-section .tile-container {
    position: relative;
    top: 0vw;
  }
  .final-section .tile:nth-of-type(2) {
    margin-left: 0vw;
    margin-right: 0;
    padding-left: 0vw;
  }
}
/*# sourceMappingURL=style.css.map */